<html>
	<head>
		<title>Oryema's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Oryema's Girls Blog</a></h1>
		</div>
		<div>
			<p>published: 29.10.2016, 16:50</p>
			<h2><a href="">My first post</a></h2>
			<p>I surely love the time well spent here, i must say i have learnt something, so yay to djangogirls mbale. I'm gonna blog and create alot of websites. Chaoooooo!</p>
		</div>
		<div>
			<p>published: 29.10.2016, 16:50</p>
			<h2><a href="">My second post</a></h2>
			<p>I am now working on my second page which i must say i really love to do, let's see what comes up next.</p>
		</div>
	</body>
</html>